<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mi primer documento en HTML</title>
    <style> 
    .images{
          max-height:350px;
    }
    </style>

</head>
<body>

<!--INICIO DE HEADER-->
<header> 

<!--LOGO-->
<div class="cont-logo">
<img src="/images/logo-mercado-liebre.svg" alt="logo mercado libre">
</div>

<!--BUSCADOR-->
<div class="cont-buscador"> 
<!--<input class="buscador" type="search" placeholder="Buscar">  
<button class="boton-buscar" type="submit">Buscar</button>-->
<p>Lugar para poner la barra de búsqueda</p>
</div>

<!--COMPRA-->
<div class="cont-compra"> 

<p>Comprá en cuotas y sin tarjeta de crédito</p>
</div>

<!--MENÚ-->
<div class="cont-menu"> 
 <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
             <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        
      </ul>
</div>


<!--MENÚ USUARIO-->
<div class="cont-menu-usuario"> 
 <ul>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
             <li><a href="#">Mis compras</a></li>
            
        
      </ul>
</div>




</header> 



<main> 
<!--SECCION ÚLTIMA VISITA-->
<section>
<h1>Basado en tu última visita</h1>
<img class="images" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">

<p>$6.770</p>
<p>40% OFF</p>
<p>Cafetera Moulinex</p>

<br>
<section>
<img class="images" src="/images/img-macbook-pro-2019.jpg" alt="macbook">

<p>$230.000</p>
<p>20% OFF</p>
<p>MackBook Pro 2019</p>

</section>

<br>
<section>
<img class="images" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung">

<p>$70.500</p>
<p>10% OFF</p>
<p>Samsung Galaxy S10</p>

</section>

<br>
<section>
<img class="images" src="/images/img-tv-samsung-smart.jpg" alt="smart tv">

<p>$23.200</p>
<p>5% OFF</p>
<p>SmartTv Samsung 43"</p>

</section>


<!--SECCION DE OFERTAS-->
<section> 

<h1>Sección de Ofertas</h1>
<img class="images" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">

<p>$6.770</p>
<p>40% OFF</p>
<p>Cafetera Moulinex</p>

<br>
<section>
<img class="images" src="/images/img-macbook-pro-2019.jpg" alt="macbook">

<p>$230.000</p>
<p>20% OFF</p>
<p>MackBook Pro 2019</p>

</section>

<br>
<section>
<img class="images" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung">

<p>$70.500</p>
<p>10% OFF</p>
<p>Samsung Galaxy S10</p>

</section>

<br>
<section>
<img class="images" src="/images/img-tv-samsung-smart.jpg" alt="smart tv">

<p>$23.200</p>
<p>5% OFF</p>
<p>SmartTv Samsung 43"</p>


</section>
</main>





<!--MENÚ USUARIO-->
<footer>



</footer>




</body>
</html>
