<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="stylesheet" href="./css/register.css">
  

</head>
<body>

<!--INICIO DE HEADER-->
<header class="main-header"> 
      
 <div class="main-header-top-bar"> 
      <!--LOGO-->

       <img class="logo-ml" src="/images/logo-mercado-liebre.svg" alt="logo mercado libre">
       
      
      <!--BUSCADOR-->
       <div class="cont-buscador"> 
      <input class="buscador" type="search" placeholder="Buscar productos, marcas">  
      <i class="fas fa-search"></i>
       
     <!--  <p>Lugar para poner la barra de búsqueda</p> -->
       </div>
      
      <!--COMPRA-->
      <div class="cont-compra"> 
           
      <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
      Comprá en cuotas y sin tarjeta de crédito
      </h2>
      </div>
</div> 


<nav class="main-navar">
      <!--MENÚ-->

 <ul class="cont-menu">
      <li class="text-menu"><a href="#">Ofertas</a></li>
      <li class="text-menu"><a href="#">Tiendas Oficiales</a></li>
      <li class="text-menu"><a href="#">Vender</a></li>
      <li class="text-menu"><a href="#">Ayuda</a></li>
  
</ul>


<!--MENÚ USUARIO--> 
<ul class="cont-menu-usuario">
      <li class="text-menu"><a href="http://localhost:3000/register">Creá tu cuenta</a> <i class="far fa-id-card"></i></li>
      <li class="text-menu"><a href="http://localhost:3000/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
       <li class="text-menu"><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
      
  
</ul>
</nav>

<div class="burger-menu">
      <i class="fas fa-bars"></i>
</div>


</header> 



<main> 
<!-- FORMULARIO DE REGISTRO -->
<form action="/registro" method="post" class="fomulario">
    <div class="register">
      <input class="entradas" type="text" name="Nombre y Apellido" placeholder="Nombre y Apellido">
      <input class="entradas" type="text" name="Nombre de usuari@" placeholder="Nombre de usuari@">
      <input class="entradas" type="email" name="E-mail" placeholder="Email">
    </div>
    
    <h4>Fecha de Nacimiento</h4>
<div class="datos">
      <input class="entradas" type="date" name="fecha">
      <input class="entradas" type="text" name="Domicilio" placeholder="Domicilio">
</div>

    <h4>Perfil de Usuario</h4>
    <div class="perfil-usuairo">
      <input type="radio" name="medio" value="comprador">
      <label for="comprador">Comprador</label>
      <input type="radio" name="medio" value="vendedor">
      <label for="vendedor">Vendedor</label>
    </div>
    
    <h4>Intereses</h4>
    <div class="intereses">
      <input class="check" type="checkbox" name="intereses" value="electro">
      <label  for="electro">Electro</label><br>
      <input class="check" type="checkbox" name="intereses" value="moda">
      <label for="moda">Moda</label><br>
      <input class="check" type="checkbox" name="intereses" value="hogar">
      <label for="hogar">Hogar</label><br>
      <input class="check" type="checkbox" name="intereses" value="jugeteria">
      <label for="jugeteria">Juguetería</label><br>
      <input class="check" type="checkbox" name="intereses" value="vida-sana">
      <label for="vida-sana">Vida Sana</label><br>
      </div>

      <div class="imagen-perfil">
            <label class="labels" for="foto-perfil">Seleccionar una imagen para el perfil</label>
            <input  type="file" name="avatar" accept=".jpg" id="foto-perfil">
      </div>

      <div class="pass">
            <label for="pass1" class="label-pass">Contraseña</label>
            <input type="password" class="entradas" id="pass1">
            <label for="pass2" class="label-pass">Confirmar Contraseña</label>
            <input type="password" class="entradas" id="pass2">
      </div>

      <div class="btn">
            <a href="http://localhost:3000"><input class="boton" type="button" value="Enviar"></a>
            <input class="boton" type="reset" value="Limpiar">     
      </div>
  
</form>
</main>

<br>


<!--FOOTER-->

<footer>

<div class= "pago">


<i class="fas fa-credit-card"></i>
<p><b> Pagá con tarjeta o en efectivo </b> <br>Con mercado Liebre Cash, tenés cuotas sin interés con tarjeta o en efectivo en puntos de Pago. ¡Y siempre es seguro!</p>

</div>

<div class= "envío">

      
      <i class="fas fa-gift"></i>
      <p><b>Envío gratis desde 2.500</b><br>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
      
      </div>

      <div class= "seguridad">

            
            <i class="fas fa-user-shield"></i>
            <p><b>Seguridad de principio a fin</b><br>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            
            </div>

            <div class= "copyright">

                  <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                  
      
                  
                  </div>



</footer>




</body>
</html>
